*
!azure_ml_endpoint/aca/Dockerfile
!azure_ml_endpoint/aca/Dockerfile.gpu
!azure_ml_endpoint/aca/app.py
!azure_ml_endpoint/aca/requirements.txt
!azure_ml_endpoint/aca/requirements.gpu.txt
!models/Qwen3-0.6B/**
