ENVIRONMENT=local
PORT=9000

STT_MODEL=small
STT_DEVICE=cuda
STT_COMPUTE_TYPE=float16
STT_LANGUAGE=vi
STT_VOCABULARY_PROFILE=auto

TTS_PROVIDER=vieneu
TTS_MODE=v3turbo
TTS_DEVICE=cuda
TTS_SAMPLE_RATE=24000
