fastapi[standard]
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
python-multipart
websockets
python-dotenv
openai
httpx
groq
soundfile
numpy
vieneu
torchaudio
torch
pypdf
python-docx
static-ffmpeg
faster-whisper
google-genai
langgraph
langchain-core
google-cloud-aiplatform
pydantic-settings
