fastapi[standard]
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
python-multipart
websockets
python-dotenv
openai
httpx
groq
soundfile
numpy
vieneu
torchaudio
torch
pypdf
python-docx
static-ffmpeg
