fastapi[standard]
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
python-multipart
websockets
python-dotenv
openai
httpx
groq
soundfile
numpy
edge-tts
funasr
modelscope
torchaudio
pypdf
python-docx
